RewriteEngine On

ErrorDocument 404 http://devoircapture.ddns.net/404page.php

RewriteRule ^humidite/bureau/jour$ jour.php [L]

RewriteRule ^humidite/bureau/mois$ mois.php [L]

RewriteRule ^humidite/bureau/annee$ annee.php [L]

RewriteRule ^humidite/mobile/apercu$ apercu.php [L]

RewriteRule ^humidite/mobile/alerte$ alerte.php [L]