/*
 *// https://pixabay.com/illustrations/calendar-icon-illustration-date-4631425/
*/

#boite-menu Label
{
    -fx-alignment: center;
}
#boite-menu Button
{
    -fx-cursor:hand;
}
Pane.titre > Label
{
    -fx-min-width:298;
    -fx-pref-width:298;
    -fx-max-width:298;
    -fx-font-weight:bold;
    -fx-font-size:30;
}
TextField, ComboBox
{
    -fx-background-radius:1em;
}


#mesures .mesure
{
    -fx-width:298;    
}
#mesures .mesure.apercu
{
    -fx-height:152;
}
#mesures .mesure.graphique
{
    -fx-height:241;
}

.apercu .apercu-titre
{
    -fx-font-weight:bold;
    -fx-font-size:20; 
}

Chart
{
    -fx-padding: 10px;
    -fx-background-color: transparent;
    -fx-legend-visible: false;
}
.chart-plot-background 
{
    -fx-background-color:transparent;
}

ChartPie 
{
    -fx-border-color: derive(-fx-pie-color, 1%);
    -fx-border-width: 0px;
}

