#fenetre
{
    -fx-background-color:#fff;
}
#entete
{
    -fx-background-color: black;
}
#boite-menu
{
    -fx-background-color:#333;
}
#boite-menu Label
{
    -fx-text-fill:white;
}
#boite-menu Button
{
    -fx-background-color:#333;
}
#boite-menu Button:hover
{
    -fx-background-color:#555;
}
Button:pressed
{
    -fx-background-color: #9777A7;   
}
TextField, ComboBox
{
    -fx-background-color:#333;
}
Pane.titre
{
    -fx-background-color:white;
    -fx-border-color:#003300;
}
Pane.titre Label
{
    -fx-text-fill:#003300;
}

.mesure.apercu.jour
{
    -fx-background-color:#008000;
}
.mesure.graphique.jour
{
    -fx-background-color:#00cc00;
}
.mesure.apercu.mois
{
    -fx-background-color: #66ff66;
}
.mesure.graphique.mois
{
    -fx-background-color: #006600;
}
.mesure.apercu.annee
{
    -fx-background-color: #00e600;
}
.mesure.graphique.annee
{
    -fx-background-color: #1aff1a;
}
#mesures .mesure.apercu Label
{
    -fx-text-fill:white;    
}

#mesures
{
    -fx-background-image : url("foret-fougeres.png");
    -fx-background-repeat: stretch stretch;   
    -fx-background-size: 100% 100%;
    -fx-background-position: center center;

}
